# This workflow will build a Java / Kotlin project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven
# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
name: Build
on:
  push:
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Configure Testcontainers (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          echo "testcontainers.reuse.enable=true" > $env:USERPROFILE\.testcontainers.properties
      - name: Build and test
        env:
          SKIP_TESTCONTAINER_TESTS: true  # Do not run TestContainer Tests in Windows Matrix Build.
        run: mvn -U -B test verify
      - name: Linux-specific setup and SonarCloud analysis
        if: matrix.os == 'ubuntu-latest'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          # Configure Testcontainers for Linux
          mkdir -p /home/runner
          echo "testcontainers.reuse.enable=true" > /home/runner/.testcontainers.properties
          
          # Run SonarCloud analysis
          mvn -P jacoco-code-coverage -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=embabel_embabel-agent
